* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #7a91c1;
}

.main {
  width: 100%;
  height: 968px;
  display: flex;
  justify-content: center;
}
.main .body {
  margin-top: 80px;
  width: 50%;
  height: 100%;
}
.main .body .comments {
  height: 20%;
}
.main .body .comments .comment {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 20px;
}
.main .body .comments .comment > div:nth-child(1) {
  background-color: #ffffff;
  display: flex;
  border-radius: 10px;
}
.main .body .comments .comment > div:nth-child(1) > div:nth-child(1) {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .body .comments .comment > div:nth-child(1) > div:nth-child(1) > div {
  width: 40%;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #e9e9ed;
}
.main .body .comments .comment > div:nth-child(1) > div:nth-child(1) > div > span {
  text-align: center;
}
.main .body .comments .comment > div:nth-child(1) > div:nth-child(1) > div > button {
  height: 45%;
  border: none;
  border-radius: 50%;
}
.main .body .comments .comment > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.main .body .comments .comment > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 40px;
}
.main .body .comments .comment > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > img {
  width: 30px;
  height: 30px;
}
.main .body .comments .comment > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > p {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}
.main .body .comments .comment > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > i {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 70%;
}
.main .body .comments .comment > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > i > span {
  padding: 5px;
}
.main .body .comments .comment > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 10px;
}
.main .body .comments .comment > div:nth-child(2) {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: left;
}
.main .body .comments .comment > div:nth-child(2) > div {
  width: 30%;
  text-align: center;
}
.main .body .reply {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 150px;
  margin-top: 10px;
  border-radius: 10px;
}
.main .body .reply > div {
  display: flex;
  border-radius: 5px;
  margin-left: 22px;
  height: 100px;
  width: 90%;
  display: flex;
}
.main .body .reply > div > div {
  margin: 0px 10px;
}
.main .body .reply > div > div:nth-child(1) > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.main .body .reply > div > div:nth-child(2) {
  width: 80%;
}
.main .body .reply > div > div:nth-child(2) > textarea {
  width: 100%;
  height: 100%;
  border: none;
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.main .body .reply > div > div:nth-child(3) {
  width: 10%;
}
.main .body .reply > div > div:nth-child(3) > button {
  background-color: #5359b7;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 45%;
}
.main .body .send {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 150px;
  margin-top: 10px;
  border-radius: 10px;
}
.main .body .send > div {
  display: flex;
  border-radius: 5px;
  margin-left: 22px;
  height: 100px;
  width: 90%;
  display: flex;
}
.main .body .send > div > div {
  margin: 0px 10px;
}
.main .body .send > div > div:nth-child(1) > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.main .body .send > div > div:nth-child(2) {
  width: 80%;
}
.main .body .send > div > div:nth-child(2) > textarea {
  width: 100%;
  height: 100%;
  border: none;
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.main .body .send > div > div:nth-child(3) {
  width: 10%;
}
.main .body .send > div > div:nth-child(3) > button {
  background-color: #5359b7;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 45%;
}

.zz > div:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: right;
}
.zz > div:nth-child(2) > div {
  width: 90%;
}

.ee {
  display: flex;
  justify-content: right;
}

.commentreply {
  margin-top: 10px;
  width: 90%;
  display: flex;
  border-radius: 10px;
  background-color: #ffffff;
}
.commentreply > div:nth-child(1) {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commentreply > div:nth-child(1) > div {
  width: 35%;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #e9e9ed;
}
.commentreply > div:nth-child(1) > div > span {
  text-align: center;
}
.commentreply > div:nth-child(1) > div > button {
  height: 45%;
  border: none;
  border-radius: 50%;
}
.commentreply > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 81%;
}
.commentreply > div:nth-child(2) > div:nth-child(1) {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 40px;
}
.commentreply > div:nth-child(2) > div:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid blue;
}

.divreply {
  display: flex;
  justify-content: right;
}

.send2 {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 150px;
  margin-top: 10px;
  border-radius: 10px;
}
.send2 > div {
  display: flex;
  border-radius: 5px;
  margin-left: 22px;
  height: 100px;
  width: 90%;
  display: flex;
}
.send2 > div > div {
  margin: 0px 10px;
}
.send2 > div > div:nth-child(1) > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.send2 > div > div:nth-child(2) {
  width: 80%;
}
.send2 > div > div:nth-child(2) > textarea {
  width: 100%;
  height: 100%;
  border: none;
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.send2 > div > div:nth-child(3) {
  width: 10%;
}
.send2 > div > div:nth-child(3) > button {
  background-color: #5359b7;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 45%;
}

#fa1 {
  display: none;
}

.auth {
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.auth > p, .auth img {
  border: 1px solid red;
  width: 10%;
  margin-left: 10px;
}
.auth > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.auth > p:nth-child(3) {
  background-color: #5559ba;
  color: white;
  width: 7%;
}
.auth > p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth > i {
  align-items: center;
  display: flex;
  justify-content: right;
}
.auth > i > span {
  padding: 5px;
}
.auth > i:nth-of-type(1) {
  margin-left: 215px;
  color: red;
}
.auth > i:nth-of-type(2) {
  margin-left: 25px;
}

.nonauth {
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.nonauth > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.nonauth > p {
  margin-left: 10px;
}/*# sourceMappingURL=App.css.map */